@import './fonts.scss';
@import './marquee.scss';

$primary-color: red;
$primary-font-family: "Karik";

html {
    font-family: $primary-font-family;
}

body {
  color: $primary-color;
}


nav li {
    margin: 2rem;
}

header {
    display: grid;
    grid-template: 1fr 2fr 1fr;
    grid-template-areas: ". nav .";
}

nav {
    grid-area: nav;
}

header li a {
    color: black;
    text-decoration: none;
}

header li{
    display: inline;
    font-size: 2rem;
}

#active-nav-tab a{
    color: $primary-color;
}

#logo-container {
    position: fixed;
    left: 10%;
    z-index: 9999;
    width: 15%;
    padding: 0;
}

.iframe-container {
    // overflow: hidden;
    padding-top: 56.25%;
    position: relative;

  }
  
  .iframe-container iframe {
     height: 80%;
     left: 0;
     position: absolute;
     top: 0;
     right: 0;
     margin: 0 auto;
     width: 60%;
     
  }

#syllabus {
    border: 2px solid $primary-color;
    box-shadow: 0px 0px 10px #888888;
}